@charset "UTF-8";
/*
.


-------------------------CSS-----------------------
Diese CSS-Datei wurde mithilfe von SASS erstellt.


___created 2018 Maximilian Eitel___






.
*/
/*Colors*/
/*Fonts*/
/*Bildschirmgrößen*/
@import url("https://fonts.googleapis.com/css?family=Alegreya");
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:100,400");
body {
  background-color: #2a7130;
}

.scrollable p {
  color: brown;
}

#titel h1 {
  margin-top: 0px;
  padding-top: 20px;
  color: #f49016 !important;
}

#titel h2 {
  margin-top: 20 px;
  padding-bottom: 100px;
  margin-bottom: 0px;
}

#scrollaboutme {
  max-height: 50%;
  overflow-y: scroll;
}

#scrollaboutme p {
  padding-left: 20px;
}

::-webkit-scrollbar {
  display: none;
}

#aboutme h1,
#skills h1 {
  margin-top: 0px;
  padding-top: 20px;
  text-align: left;
  padding-left: 20px;
}

#aboutme ul,
#skills ul {
  text-align: left;
  list-style-type: none;
  text-align: left;
  padding-left: 20px;
}

#aboutme ul li,
#skills ul li {
  padding-top: 5px;
}

#aboutme, #works {
  background-color: #f49016;
}

#skills h1 {
  color: #f49016 !important;
}

.content-wrapper {
  z-index: 2;
}

.vcenter {
  display: flex;
  align-items: center;
}

#skillwrapper {
  background-color: #eeeff4;
  z-index: 100;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

#skillwrapper ul {
  margin-left: 10px;
  color: #eeeff4;
  padding-bottom: 20px;
}

#skillwrapper .bartext {
  margin: 10px 0px 0px 0px !important;
  padding-left: 10px;
}

#kontakt {
  background-color: #303030;
}

animate-bar {
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}

#html-bar {
  background-color: #f49016;
  width: 20%;
  border-radius: 14px;
  opacity: 0;
  -webkit-transition: width 1s, opacity 1s ease-in-out;
  -moz-transition: width 1s, opacity 1s ease-in-out;
  -o-transition: width 1s, opacity 1s ease-in-out;
  transition: width 1s, opacity 1s ease-in-out;
}

#css-bar {
  background-color: #f49016;
  width: 20%;
  opacity: 0;
  border-radius: 14px;
  -webkit-transition: width 1s, opacity 1s ease-in-out;
  -moz-transition: width 1s, opacity 1s ease-in-out;
  -o-transition: width 1s, opacity 1s ease-in-out;
  transition: width 1s, opacity 1s ease-in-out;
}

#js-bar {
  background-color: #f49016;
  width: 20%;
  opacity: 0;
  border-radius: 14px;
  -webkit-transition: width 1s, opacity 1s ease-in-out;
  -moz-transition: width 1s, opacity 1s ease-in-out;
  -o-transition: width 1s, opacity 1s ease-in-out;
  transition: width 1s, opacity 1s ease-in-out;
}

#wp-bar {
  background-color: #f49016;
  width: 20%;
  opacity: 0;
  border-radius: 14px;
  -webkit-transition: width 1s, opacity 1s ease-in-out;
  -moz-transition: width 1s, opacity 1s ease-in-out;
  -o-transition: width 1s, opacity 1s ease-in-out;
  transition: width 1s, opacity 1s ease-in-out;
}

#ps-bar {
  background-color: #f49016;
  width: 20%;
  opacity: 0;
  border-radius: 14px;
  -webkit-transition: width 1s, opacity 1s ease-in-out;
  -moz-transition: width 1s, opacity 1s ease-in-out;
  -o-transition: width 1s, opacity 1s ease-in-out;
  transition: width 1s, opacity 1s ease-in-out;
}

.animate-html-bar {
  width: 80% !important;
  opacity: 1 !important;
}

.animate-css-bar {
  width: 80% !important;
  opacity: 1 !important;
}

.animate-js-bar {
  width: 60% !important;
  opacity: 1 !important;
}

.animate-wp-bar {
  width: 70% !important;
  opacity: 1 !important;
}

.animate-ps-bar {
  width: 75% !important;
  opacity: 1 !important;
}

#bewerbung {
  text-align: center;
}

#bewerbung h1 {
  display: inline-block;
  position: relative;
}

#bewerbung h1:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  transform: translate(-70%);
  background-color: #f49016;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#bewerbung h1.change:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#name, #bewerbung {
  opacity: 0;
  -webkit-transition: all 1s ease-in-out 1s;
  transition: all 1s ease-in-out 1s;
}

#bewerbung.visible, #name.visible {
  opacity: 1;
}

.video-bg {
  position: absolute;
  z-index: -1000;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: auto;
  object-fit: cover;
  top: 0;
  left: 0;
}

img {
  max-width: 100%;
  height: auto;
  margin: auto;
  border-radius: 5px;
}

.imagecontainer {
  text-align: center;
}

body {
  font-family: "Alegreya Sans", sans-serif !important;
  color: #eeeff4 !important;
}

body p {
  font-size: 31px;
}

body li {
  font-size: 31px;
}

h1 {
  font-family: "Alegreya Sans", sans-serif !important;
  color: #eeeff4;
  text-align: center;
  font-size: 3em;
}

h2 {
  font-family: "Alegreya Sans", sans-serif !important;
  font-weight: 100;
  text-align: center;
  font-size: 2.4em;
}

#titel h1 {
  font-size: 5em;
  color: #f49016 !important;
}

#titel h2 {
  color: #eeeff4 !important;
}

#titel p {
  color: #303030;
  padding: 0 0 12px 0;
  text-align: center;
}

/*Desktop-Groesse*/
@media all and (min-width: 1024px) {
  #titel h1 {
    font-size: 3.7em;
  }
  #aboutme h1, #skills h1 {
    font-size: 2.3em;
  }
}

/*Tablet-Landscape*/
/*Tablet-Hoch*/
@media all and (min-width: 480px) {
  p {
    padding-right: 40px !important;
  }
}

/*Smartphone*/
