@import url("https://fonts.googleapis.com/css?family=Alegreya");
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans");
/*
.


-------------------------CSS-----------------------
Diese CSS-Datei wurde mithilfe von SASS erstellt.


___created 2018 Maximilian Eitel___




.
*/
/* line 1, ../scss/base/_base.scss */
body {
  background-color: #2a7130;
}

/* line 1, ../scss/structure/_container.scss */
body {
  margin: 0px;
}

/* line 4, ../scss/structure/_container.scss */
.titel {
  background-color: #303030;
  width: screensize;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  height: screensize-10px;
}

/* line 12, ../scss/structure/_container.scss */
.titel h1 {
  margin-top: 0px;
}

/* line 4, ../scss/modules/_typography.scss */
body {
  font-family: "Alegreya",serif;
  color: #eeeff4;
}

/* line 9, ../scss/modules/_typography.scss */
h1 {
  font-family: "Alegreya Sans", sans-serif;
  color: #eeeff4;
  text-align: center;
}

/* line 15, ../scss/modules/_typography.scss */
.titel h1 {
  color: #f49017;
}
