@import "_readme/_readme.scss";

@import "base/_variables.scss";
@import "base/_base.scss";
@import "base/_reset.scss";

@import "structure/_footer.scss";
@import "structure/_header.scss";
@import "structure/_container.scss";

@import "modules/_animations.scss";
@import "modules/_images.scss";
@import "modules/_typography.scss";

@import "mediaqueries/_colors.scss";
@import "mediaqueries/_proportions.scss";
