/*Colors*/

$weiss: #eeeff4;
$orange: #f49017;
$gruen: #2a7130;
$schwarz: #303030;
$gelb: #e3d55f;

/*Fonts*/
$serif: "Alegreya",serif;
$sansserif: "Alegreya Sans", sans-serif;

/*Bildschirmgrößen*/
$breakdesktop: 1024px;
$breaklandscape: 768px;
$breaktablet: 480px;
