.video-bg {
    position: absolute;
    z-index: -1000;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    width: auto;
    object-fit: cover;
    top: 0;
    left: 0;

}

img {
    max-width: 100%;
    height: auto;
    margin: auto;
    border-radius: 5px;
}
.imagecontainer{
    text-align: center;
}

#lto{ margin: 0 auto;
    width: 75%;
}

.back{
    background-color: gray;
    color: aliceblue;
}

#flip-container {
  position: relative;
  margin: 10px auto;
  width:800px;
  height: 500px;
  z-index: 1;
}
#flip-container {
  perspective: 1000;
}
#lto {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#flip-container:hover #lto {
}

#flip-container:focus #lto{
    
  transform: rotateY(180deg);    
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #aaa;
}