@import url('https://fonts.googleapis.com/css?family=Alegreya');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:100,400');

body {
    font-family: $serif;
    color: $weiss;
}

h1 {
    font-family: $sansserif;
    color: $weiss;
    text-align: center;
    font-size: 3em;
}

h2 {
    font-family: $sansserif;
    font-weight: 100;
    text-align: center;
    font-size: 2.4em
}

#titel {
    h1 {
        color: $orange;
    }
    h2 {
        color: $weiss;
    }
}

#aboutme,
#skills {
    h1 {
        padding-top: 50px;
        font-size: 2em;
    }
}
