@import url('https://fonts.googleapis.com/css?family=Alegreya');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');

body {
        font-family: "Alegreya",serif;
        color: #eeeff4;
}

h1 {
     font-family: "Alegreya Sans", sans-serif;
     color: #eeeff4;
     text-align: center;
}

.titel h1{
    color: #f49017;
}