@import url('https://fonts.googleapis.com/css?family=Alegreya');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:100,400');

body {
    font-family: $sansserif !important;
    color: $weiss !important;
    
    p{
        font-size:  31px;
    }
    li{
        font-size: 31px;
    }
}

h1 {
    font-family: $sansserif !important;
    color: $weiss;
    text-align: center;
        font-size: 3em;
}

h2 {
    font-family: $sansserif !important;
    font-weight: 100;
    text-align: center;
    font-size: 2.4em
}

#titel {
    h1 {
        font-size: 5em;
        color: $orange !important;
    }
    h2 {
        color: $weiss !important;
    }
    
    p {
        color: $schwarz;
        padding: 0 0 12px 0;
        text-align: center;
    }
}
