/*Desktop-Groesse*/

@media all and (min-width: $breakdesktop) {
    .container {
        width: $breakdesktop;
        margin-left: auto;
        margin-right: auto;
        

    }
    #titel {
        margin-top: 15px;
        
        h1{
            font-size: 3.7em;
        }
    }

    #aboutme, #skills {
        h1 {
            text-align: left;
            padding-left: 40px;
            font-size: 2.3em;
        }
    }
}

/*Tablet-Landscape*/

@media all and (min-width: $breaklandscape) {}

/*Tablet-Hoch*/

@media all and (min-width: $breaktablet)  {
    p{
        padding-right: 40px !important;
    }
    
}

/*Smartphone*/

@media all and (max-width: $breaktablet) {}
