body{
    margin: 0px;
}
.titel{
    background-color: #303030;
    width: screensize;
	margin-left: 0px;
	margin-right: 0px;
    margin-top: 0px;
    height: screensize-10px;
}
.titel h1{
    margin-top: 0px;    
}